* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #651577, #490b9f );
    padding: 10px;
    display: flex;
    justify-content: center;
    
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-image: url(https://w0.peakpx.com/wallpaper/95/65/HD-wallpaper-shrek-face-51300-px-shrek-meme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 100px, auto, 20px;
    padding: 40px, 30px, 70px;
    border-radius: 10px;
}

#title {
    text-align: center;
    font-size: 30px;
    font-weight:lighter;
}

#todo-list {
    list-style: none;
    display: block;
    justify-content: center;
    
}

.task{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    width: 80%;
    position: relative;
    left: 50px;
    justify-content: space-between;
    align-items: center;
    height: auto;
}   


.task label{
    align-self: center;
    max-width: 200px;
    text-align: center;
    width: 200px;
    height: auto;
    overflow-wrap: break-word;
}

.check {
    width: 15px;
    margin: 10px 10px 10px 20px;
    cursor: pointer;
}

.del {
    background-color: rgb(236, 71, 71);
    margin: 10px;
    border-radius: 100px;
    cursor: pointer;
    border-style: none;
    width: 50px;
    height: 25px;
    font-weight: bold;
    background-image: url(https://cdn.iconscout.com/icon/free/png-256/free-delete-2902143-2411575.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.del:hover {
    background-color: red;
}

.edit {
    margin: 10px 20px 10px 10px;
    border-radius: 100px;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-image: url(https://cdn-icons-png.flaticon.com/256/1159/1159633.png);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    border-style: none;
    background-color: white;
}

.edit:hover{
    background-color: #a1a1a1;
}

.row {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#input-box {
    width:300px ;
    height: 25px;
    border-radius: 5px;
    margin: 5px;
    border-style: none;
}

.row button {
    height: 25px;
    margin: 5px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-image: url(https://www.freepnglogos.com/uploads/plus-icon/add-plus-icon-28.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    border-style: none;
    background-color: white;
    cursor: pointer;
}

.row button:hover{
    background-color: #a1a1a1;
}

#input-box::placeholder {
    text-align: center;
}

