* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #651577, #490b9f );
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px, auto, 20px;
    padding: 40px, 30px, 70px;
}

#list-container {
    text-decoration: none;
    list-style: none;
}